.vscode
analyses/*
autoatds/*
data/*
!data/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
outputs/*
tmp/*
!tmp/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
result/*
!result/.gitkeep
__pycache__
.ipynb_checkpoints
configs/*
!configs/w2v2-large-cpt_indic-70h_9.yaml
!configs/w2v2-large-finetune_punjabi-1h.yaml
configs/vscode-debug.yaml
